.contato {
    background-color: var(--cor-fundo2);
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
}

.container-contato {
    gap: 200px;
}

.container-contato img {
    width: 160px;
    height: 160px;
    padding: 20px;
}

@media (max-width: 600px){
    .container-contato {
        flex-direction: column;
        gap: 50px;
    }

    .container-contato img {
        width: 100px;
        height: 100px;
    }
}