.info {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--cor-fundo1);
}

.info-img img{
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.info h2 {
    padding-bottom: 50px;
}

@media(max-width: 600px) {
    .info-cards-container {
        flex-direction: column;
    }

    .info-img img {
        width: 75px;
        height: 75px;
    }

    .info-title {
        margin-bottom: -20px;
    }
}