.sobre {
    background-color: var(--cor-fundo2);
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
}

.text-sobre {
    display: flex;
    flex-direction:column;
    justify-content: center;
}

.title-sobre {
    width: 50%;
}

.text-sobre {
    width: 50%;
}

.sobre img {
    width: 20%;
    height: 50%;
}

@media (max-width: 600px){
    .container-sobre {
        flex-direction: column;
    }
}