.ajuda {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--cor-fundo2);
}

.title-carousel-card {
    padding-bottom: 20px;
}

.ajuda p {
    background-color: #e9f1ea;
    border-radius: 50px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: black;
}

.carousel-control-next-icon {
    margin-right: 170px;
}

.carousel-control-prev-icon {
    margin-left: 170px;
}