.texto-apresentacao {
    margin-top: 15rem;
}

.inicio {
    background-color: #F9F9F9;
    padding-bottom: 210px;
    z-index: -1;
}

.big-image {
    top: 0;
    right: 0;
    width: 60%;
    height: 1240px;
    z-index: 1;
    pointer-events: none;
}