.processo {
    background-color: var(--cor-fundo2);
    padding-top: 50px;
    padding-bottom: 50px;
}

.processo-title {
    padding-top: 20px;
    padding-bottom: 100px;
}

@media (max-width: 600px){
    .container-processo, .container-card-processo{
        flex-direction: column;
    }

    .processo-title {
        padding-bottom: 30px;
    }

    .processo p {
        width: 50%;
    }
}
