.sobre {
    background-color: var(--cor-fundo2);
    width: 100%;
}

.container-sobre {
    align-items: center;
}

.text-sobre {
    display: flex;
    flex-direction:column;
    justify-content: center;
    width: 80%;
}

.sobre svg {
    width: 50%;
    height: 100%;
}

.blob-mobile {
    display: none;
}

.title-sobre {
    width: 50%;
}

.text-sobre {
    width: 50%;
}

@media (max-width: 600px){
    .container-sobre {
        flex-direction: column;
    }

    .title-sobre {
        width: 70%;
    }
    
    .text-sobre {
        width: 100%;
    }

    .sobre-img {
        display: none;
    }

    .blob-mobile {
        display: block;
    }
    
}