.btn-whatsapp {
    background-color: #9E2A2B;
    text-decoration: none;
    color: #FFFF;
    border-radius: 20px;
    padding: 7px 20px 7px 20px;
}

.btn-whatsapp-sobre-mim {
    text-align: center;
    width: 300px;
    padding: 8px;
    margin-top: 20px;
}