.nav-title {
    font-family: var(--font-rochester);
    font-size: 28px;   
}

.apresentacao-title, .sobre-title, .trabalho-title, .processo-title, .info-title, .contato-title, .title-ajuda {
    font-size: 70px;
    font-family: var(--font-rochester);
}

.apresentacao-text, .sobre-text, .card-trabalho h3, .card-trabalho p, .processo-card h3, .processo-card p, .info h3, .info p, footer p, .ajuda p{
    font-family: var(--font-quicksand);
    line-height: 1.8rem;
    font-size: 24px;
}

.card-trabalho h3, .processo-card h3, .info h3{
    font-size: 28px;
}

.card-trabalho h3, .processo-card h3, .info h3, .contato-whatsapp a {
    font-weight: bold;
}

.contato-whatsapp a {
    font-family: var(--font-quicksand);
    font-size: 18px;
}

.title-carousel-card {
    font-family: var(--font-quicksand);
    font-weight: bold;
    font-size: 30px;
}

@media (max-width: 600px){
    .apresentacao-title, .sobre-title, .trabalho-title, .processo-title, .info-title, .contato-title, .title-ajuda {
        font-size: 35px;
        font-family: var(--font-rochester);
    }

    .apresentacao-text, .sobre-text, .card-trabalho h3, .card-trabalho p, .processo-card h3, .processo-card p, .info h3, .info p, footer p, .title-carousel-card, .contato a{
        font-family: var(--font-quicksand);
        line-height: 1.2rem;
        font-size: 20px;
    }

    .ajuda p {
        font-size: 15px;
        line-height: 1rem;
    }
}