.info {
    font-family: var(--font-playwrite);
}

.info h3 {
    font-size: 24px;
    line-height: 43px;
}

.info p {
    font-size: 16px;
    line-height: 21px;
}

.texto-apresentacao,
.btn-whatsapp-sobre-mim {
    font-family: var(--font-fraunces);
    font-size: 24px;
    line-height: 30px;
}

.texto-apresentacao h1 {
    font-size: 60px;
    line-height: 74px;
    color: #272665;
    font-weight: bolder;
}

.text-sobre-mim h2,
.container-ajuda h2 {
    font-size: 60px;
    line-height: 74px;
    color: #9E2A2B;
    font-weight: bold;
    font-family: var(--font-fraunces);
    font-weight: bold;
}

.text-sobre-mim p {
    font-size: 32px;
    line-height: 39px;
    font-family: var(--font-fraunces);
    opacity: 63%;
}

.btn-whatsapp {
    font-size: 16px;
    font-weight: bold;
}

.container-ajuda p {
    font-family: var(--font-fraunces);
    opacity: 63%;
    font-size: 30px;
    line-height: 35px;
}

.title-section {
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 40px;
    text-align: center;
    font-family: var(--font-fraunces);
}

.container-card h5 {
    font-family: var(--font-raleway);
    font-size: 24px;
    line-height: 28px;
    opacity: 63%;
}

.container-card p {
    font-family: var(--font-raleway);
    font-size: 20px;
    line-height: 23px;
    opacity: 63%;
}

.container-abordagem-adultos h2, .container-abordagem-criancas h2, .depoimentos h2{
    font-family: var(--font-fraunces);
    font-size: 60px;
    color: #9E2A2B;
    line-height: 74px;
    font-weight: bold;
}

.container-abordagem-adultos h3,  .container-abordagem-criancas h3{
    font-family: var(--font-fraunces);
    font-size: 20px;
    color: #9E2A2B;
    line-height: 25px;
}

.container-abordagem-adultos p, .container-abordagem-criancas p{
    font-family: var(--font-raleway);
    font-size: 16px;
    line-height: 16px;
    opacity: 63%;
}

.container-abordagem-criancas h2, .container-abordagem-criancas h3{
    color: #272665;
}

.atendimento h2 {
    font-family: var(--font-fraunces);
    font-size: 60px;
    line-height: 74px;
    color: #272665;
    text-shadow: 2px 2px rgba(247, 127, 9, 0.25);
}

.atendimento p {
    font-family: var(--font-fraunces);
    font-size: 24px;
    line-height: 30px;
    opacity: 63%;
}

.depoimentos h2 {
    font-weight: normal;
}

.depoimento-text {
    font-family: var(--font-raleway);
    font-size: 32px;
    line-height: 38px;
}

.depoimento-iniciais {
    font-family: var(--font-fraunces);
    font-size: 30px;
    line-height: 37px;
    color: #9E2A2B;
}