@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Playwrite+US+Modern:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-playwrite: "Playwrite US Modern", cursive;
    --font-fraunces: "Fraunces", serif;
    --font-raleway: "Raleway", sans-serif;
    --cor-fundo1: #fffcf7;
    --cor-fundo2: #fbefe5;
}