@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    --font-rochester: "Rochester", cursive;
    --font-quicksand: "Quicksand", sans-serif;
    --cor-fundo1: #fffcf7;
    --cor-fundo2: #fbefe5;
}